<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - WebApplication1</title>
        <link rel="stylesheet" href="~/css/null.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/icons.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/theme.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/burger.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/wrapper.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />
</head>
<body>
    <div class="wrapper">
<div class="burger">
    <div class="burger__lines">
        <span class="burger__line1"></span>
        <span class="burger__line2"></span>
        <span class="burger__line3"></span>
    </div>
</div>
<header class="header active">
    <nav class="header__menu">
        <div class="header__item">
            <a href="">NEW</a>
        </div>
        <div class="header__item">
            <a href="../Shop/Index">КАТАЛОГ</a>
        </div>
        <div class="header__item">
            <a href="">О НАС</a>
        </div>
    </nav>
    <div class="header__logo">
        <img src="~/icons/logo.svg" alt="">
    </div>
    <div class="header__locale">
        <div class="header__lang">
            <div class="lang__title"> RU
            </div>
            <div class="lang__dropdown">
                <div class="lang__item">UA</div>
                <div class="lang__item">EN</div>
            </div>
            <span class="icon-arrow-down"></span>
        </div>
        <div class="header__currency">
            <div class="currency__title"> UAH </div>
            <div class="currency__dropdown">
                <div class="currency__item">USD</div>
                <div class="currency__item">EUR</div>
            </div>
            <span class="icon-arrow-down"></span>
        </div>
    </div>
    <div class="header__icons">
        <img src="~/icons/search.svg" alt="">
        <img src="~/icons/profile.svg" alt="">
        <img src="~/icons/favourites.svg" alt="">
        <img src="~/icons/cart.svg" alt="">
    </div>
</header>
<div class="header__submenu">
    <nav class="header__menu">
        <div class="header__item">
            <a href="">ОПЛАТА И ДОСТАВКА</a>
        </div>
        <div class="header__item">
            <a href="">УСЛОВИЯ ВОЗВРАТА</a>
        </div>
        <div class="header__item">
            <a href="">КОНТАКТЫ</a>
        </div>
    </nav>
    <div class="mobile-menu">
        <div class="mobile-menu__block">
            <div class="mobile-menu__search">
                <input type="text" id="search" placeholder="Введите ваш запрос">
                <label for="search">
                    <img src="~/icons/search-black.svg" alt="">
                </label>
            </div>
            <div class="mobile-menu__currency">
                <div class="currency__title"> UAH </div>
                <div class="currency__dropdown">
                    <div class="currency__item">USD</div>
                    <div class="currency__item">EUR</div>
                </div>
                <span class="icon-arrow-black"></span>
            </div>
        </div>
        <div class="mobile-menu__list">
            <div class="mobile-menu__link">
                <span class="icon-profile-new"></span>
                <a href="">ЛИЧНЫЙ КАБИНЕТ </a>
            </div>
            <div class="mobile-menu__link">
                <a href="">NEW</a>
            </div>
            <div class="mobile-menu__link">
                <a href="">КАТАЛОГ</a>
            </div>
            <div class="mobile-menu__link">
                <a href="">О НАС</a>
            </div>
            <div class="mobile-menu__link">
                <a href="">УСЛОВИЯ ВОЗВРАТА</a>
            </div>
            <div class="mobile-menu__link">
                <a href="">КОНТАКТЫ</a>
            </div>
        </div>
        <div class="mobile-menu__footer">
            <div class="mobile-menu__column">
                <ul>
                    <li>
                        <a href=""><span class="icon-ig"></span></a>
                        <a href=""><span class="icon-tg"></span></a>
                    </li>
                    <li>+38(073) 096 36 44</li>
                    <li>info@yanki.com</li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
    @RenderBody();
    <div class="wrapper">
            <footer class="footer">
                <div class="footer__columns">
                    <div class="footer__column">
                        <div class="footer__title">
                            КОМПАНИЯ <span class="icon-arrow-down-small"></span>
                        </div>
                        <ul class="footer__list">
                            <li><a href="">О нас</a></li>
                            <li><a href="">Контакты</a></li>
                        </ul>
                    </div>
                    <div class="footer__column">
                        <div class="footer__title" id="useful">
                            ПОЛЕЗНОЕ <span class="icon-arrow-down-small"></span>
                        </div>
                        <ul class="footer__list">
                            <li><a href="">Оплата и доставка</a></li>
                            <li><a href="">Условия возврата</a></li>
                            <li><a href="">Бонусная система</a></li>
                        </ul>
                    </div>
                    <div class="footer__column">
                        <div class="footer__title" id="to-buyer">
                            ПОКУПАТЕЛЮ <span class="icon-arrow-down-small"></span>
                        </div>
                        <ul class="footer__list">
                            <li><a href="">Избранное</a></li>
                            <li><a href="">Публичная оферта</a></li>
                            <li><a href="">Политика конфиденциальности</a></li>
                        </ul>
                    </div>
                    <div class="footer__column">
                        <div class="footer__title">
                            КОНТАКТЫ
                        </div>
                        <ul class="footer__list opened">
                            <li id="wtf">
                                <a href="" class="icon-ig"></a>
                                <a href="" class="icon-tg"></a>
                            </li>
                            <li>+38(073) 096 36 44</li>
                            <li>info@yanki.com</li>
                        </ul>
                    </div>
                </div>
                <div class="footer__copyright">
                    ©️ 2021 Yanki. All rights reserved
                </div>
            </footer>
        </div>
    <script src="~/js/footer.js" defer></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
