.main {
  display: grid;
  grid-template-columns: 10.4166666667vw 1fr;
}
@media (max-width: 700px) {
  .main {
    margin: 5.3375196232vh 0 0 0;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
  }
}
.main__filter-title {
  display: none;
}
@media (max-width: 700px) {
  .main__filter-title {
    display: inline-grid;
    position: absolute;
    grid-auto-flow: column;
    grid-template-columns: 0.35fr 0.65fr 1fr;
    white-space: nowrap;
    font-size: 4.2666666667vw;
    line-height: 5.0666666667vw;
    align-items: center;
    height: 5.0666666667vw;
    margin: 18.6666666667vw 0 0 0;
    width: 89.3333333333vw;
    border-bottom: 0.3px solid #252525;
  }
  .main__filter-title.opened {
    border: none;
  }
  .main__filter-title img {
    width: 2.6666666667vw;
    margin: 0 0 0 2vw;
    align-self: center;
  }
  .main__filter-title img:last-child {
    width: 2.6666666667vw;
    justify-self: end;
  }
  .main__filter-title img:last-child.rotated {
    transform: rotate(180deg);
  }
}
.main__filters {
  display: inline-grid;
  grid-auto-flow: column;
  grid-column-gap: 2.3611111111vw;
  grid-area: filters;
  white-space: nowrap;
  position: absolute;
  margin: 2.3611111111vw 0 0 12.5vw;
  font-weight: 300;
}
@media (max-width: 700px) {
  .main__filters {
    display: none;
    width: 89.3333333333vw;
    margin: 24vw 0 0 0;
    background: #F5F5F5;
  }
  .main__filters.opened {
    display: grid;
    grid-auto-flow: row;
    position: absolute;
    justify-items: start;
    border-bottom: #252525 0.3px solid;
    z-index: 2;
  }
  .main__filters:last-child {
    padding-bottom: 15px;
  }
}
.main__filter-item {
  display: inline-block;
  text-align: center;
  z-index: 2;
  padding: 0.3472222222vw;
  font-size: max(10px, 1.1111111111vw);
  line-height: max(10px, 1.3194444444vw);
}
.main__filter-item .main__filter-subtitle > span {
  display: inline-block;
  font-size: 0.4861111111vw;
  justify-self: end;
  align-self: center;
}
.main__filter-item .main__filter-subtitle > span.rotated {
  transform: rotate(180deg);
}
@media (max-width: 700px) {
  .main__filter-item .main__filter-subtitle > span {
    font-size: 1.8666666667vw;
  }
}
.main__filter-item.opened {
  border: 0.3px solid #252525;
  border-radius: 0.3472222222vw;
  background: #F5F5F5;
}
@media (max-width: 700px) {
  .main__filter-item.opened {
    border: none;
  }
}
@media (max-width: 700px) {
  .main__filter-item {
    display: inline-grid;
    font-size: max(10px, 3.2vw);
    line-height: max(10px, 3.7333333333vw);
    padding: 2.6666666667vw 0 2.6666666667vw 0;
  }
  .main__filter-item span {
    justify-self: right;
  }
}
.main__subfilters {
  display: none;
  grid-auto-flow: row;
  clear: both;
}
.main__subfilters.opened {
  display: grid;
}
.main__gallery {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-area: gallery;
  grid-column-gap: 1.0416666667vw;
  margin: 5.7638888889vw 0 0 2.0833333333vw;
}
@media (max-width: 700px) {
  .main__gallery {
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    margin: 29.0666666667vw 0 0 0;
  }
}
.main__item {
  display: grid;
  text-align: center;
  justify-items: center;
  grid-row-gap: 0.3472222222vw;
  margin: 0 0 2.0833333333vw 0;
  width: 21.5277777778vw;
}
@media (max-width: 700px) {
  .main__item {
    width: auto;
    grid-row-gap: 1.3333333333vw;
    margin: 0 0 2.6666666667vw 0;
  }
}
.main__fav-button {
  position: absolute;
  width: 2.7777777778vw;
  height: 2.7777777778vw;
  background: #E0BEA2;
  border-radius: 0 0 0 1.3888888889vw;
  text-align: center;
  justify-self: end;
}
.main__fav-button span {
  font-size: 1.0416666667vw;
  line-height: 2.7777777778vw;
}
@media (max-width: 700px) {
  .main__fav-button {
    width: 9.3333333333vw;
    height: 9.3333333333vw;
    border-radius: 0 0 0 5.3333333333vw;
  }
  .main__fav-button span {
    font-size: 3.4666666667vw;
    line-height: 9.3333333333vw;
  }
}
.main__name {
  font-weight: 300;
  font-size: max(12px, 1.1111111111vw);
  line-height: max(12px, 1.3194444444vw);
}
@media (max-width: 700px) {
  .main__name {
    font-size: 3.7333333333vw;
    line-height: 4.2666666667vw;
  }
  .main__name:after {
    font-size: 3.7333333333vw;
    line-height: 4.2666666667vw;
  }
}
.main__name_new:after {
  content: "new";
  color: #E0BEA2;
}
.main__price {
  font-weight: 700;
  font-size: max(10px, 1.1111111111vw);
  line-height: max(10px, 1.3194444444vw);
}
@media (max-width: 700px) {
  .main__price {
    font-size: max(10px, 3.7333333333vw);
    line-height: max(10px, 4.2666666667vw);
  }
}
.main__sizes {
  display: flex;
}
@media (max-width: 700px) {
  .main__sizes {
    margin: 1.6vw 0 0 0;
  }
}
.main__size {
  margin: 0 0.3472222222vw 0 0;
}
@media (max-width: 700px) {
  .main__size {
    margin: 0 1.3333333333vw 0 0;
    font-size: 3.7333333333vw;
    line-height: 4.2666666667vw;
  }
}
.main__colors {
  display: flex;
}
.main__color {
  margin: 0 0.3472222222vw 0 0;
}
.main__color img {
  width: 0.9722222222vw;
  height: 0.9722222222vw;
}
@media (max-width: 700px) {
  .main__color {
    margin: 0 1.3333333333vw 0 0;
  }
  .main__color img {
    width: 3.7333333333vw;
    height: 3.7333333333vw;
  }
}
.main__sidebar {
  display: grid;
  grid-area: side;
  position: absolute;
}
@media (max-width: 700px) {
  .main__sidebar {
    display: block;
    justify-self: center;
    position: relative;
    background: #E0BEA2;
    margin: 4vw 0 0 0;
    width: 89.3333333333vw;
    height: 10.6666666667vw;
  }
}
.main__title {
  margin: 2.0833333333vw 0 0 0;
  font-weight: 300;
  font-size: max(12px, 1.3888888889vw);
  line-height: max(12px, 1.5972222222vw);
}
.main__title span {
  visibility: hidden;
}
@media (max-width: 700px) {
  .main__title {
    font-size: 4.8vw;
    line-height: 6.6666666667vw;
    color: #FFFFFF;
    text-align: center;
  }
  .main__title span {
    visibility: visible;
    font-size: 2.6666666667vw;
    line-height: 5.6vw;
  }
  .main__title span.rotate {
    transform: rotate(180deg);
  }
}
.main__links {
  display: grid;
  grid-auto-flow: row;
  margin: 2.0833333333vw 0 0 0;
}
@media (max-width: 700px) {
  .main__links {
    display: none;
    text-align: center;
    z-index: 2;
    background: #e0bea2;
    padding: 1.3333333333vw 0 1.3333333333vw 0;
  }
  .main__links.opened {
    display: grid;
    grid-auto-flow: row;
    margin: 2.0833333333vw 0 0 0;
  }
}
.main__links a {
  margin: 1.3888888889vw 0 0 0;
  font-weight: 300;
  font-size: max(11px, 1.1111111111vw);
  line-height: max(11px, 1.3194444444vw);
  text-decoration: none;
  /* identical to box height */
  color: #252525;
}
@media (max-width: 700px) {
  .main__links a {
    font-size: max(11px, 4.2666666667vw);
    line-height: max(11px, 5.0666666667vw);
    color: #F5F5F5;
  }
}
.main__links a:first-child {
  margin: 0;
}

.subfilters__item {
  width: 97.3333333333%;
  border-top: #e0bea2 solid 0.3px;
  padding: 0.2083333333vw;
}
@media (max-width: 700px) {
  .subfilters__item {
    padding: 0.8vw;
  }
}

/*# sourceMappingURL=catalog.css.map */
