$adapt-res: 700px;
body {
    font-family: Raleway, serif;
    background: #F5F5F5;
    width: calc(100vw - 100vw * (300 / 1440));
    margin: 0 calc(100vw * (150 / 1440)) 0 calc(100vw * (150 / 1440));
    @media (max-width:$adapt-res) {
        width: calc(100vw * (375 - 40) / 375);
        margin: 0 calc(100vw * (20 / 375)) 0 calc(100vw * (20 / 375));
    }
    display: grid;
    place-items: center;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
}
.title {
    margin: calc(100vw * 30 / 1440) 0 0 0;
    font-weight: 300;
    font-size: max(12px, calc(100vw * 40 / 1440));
    line-height: max(12px, calc(100vw * 23 / 1440));
    text-align: center;
}
.fields {
    display: grid;
    grid-auto-flow: row;
    margin: calc(100vw * 30 / 1440) 0 calc(100vw * 30 / 1440) 0;
    grid-row-gap: calc(100vw * 20 / 1440);
    input {
        width: calc(100vw * 400 / 1440);
        height: calc(100vw * 50 / 1440);
        padding: 0 0 0 calc(100vw * 20 / 1440);
        color: rgba(37, 37, 37, 0.5);
        font-weight: 300;
        font-size: calc(100vw * 16 / 1440);
        line-height: calc(100vw * 19 / 1440);
        color: #252525;
        @media (max-width: $adapt-res) {
            font-size: calc(100vw * 14 / 375);
            line-height: calc(100vw * 16 / 375);
        }
        background: none;
        border: 0.5px solid rgba(37, 37, 37, 0.5);

        @media (max-width: $adapt-res) {
            padding: 0;
            text-align: center;
            width: 100%;
            height: calc(100vw * 40 / 375);
        }
    }
}
button{
    margin-top: calc(100vw * 60 / 1440);
    background: #E0BEA2;
    border: none;
    font-size: calc(100vw * 22 / 1440);
    color: #F5F5F5;
    width: 100%;
    height: calc(100vw  * 70 / 1440);
}