@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "YANKI - Item";
}
@{
    <div class="main">
        <div class="main__gallery">
            <div class="main__small">
                <div class="main__photo">
                    <img src="~/images/img-i-1.png" alt="">
                </div>
                <div class="main__photo">
                    <img src="~/images/img-i-2.png" alt="">
                </div>
                <div class="main__photo">
                    <img src="~/images/img-i-3.png" alt="">
                </div>
                <div class="main__photo">
                    <img src="~/images/img-i-4.png" alt="">
                </div>
                <div class="main__photo">
                    <img src="~/images/img-i-5.png" alt="">
                </div>
            </div>
            <div class="main__big">
                <div class="main__photo">
                    <img src="~/images/img-i-6.png" alt="">
                </div>
            </div>
        </div>
        <div class="main__info">
            <div class="main__title title">
                Кремовое пальто
            </div>
            <div class="main__price price">
                3150 грн
            </div>
            <div class="main__colors">
                <div class="main__color">
                    <img src="~/icons/color-white.svg" alt="">
                </div>
                <div class="main__color">
                    <img src="~/icons/color-navy.svg" alt="">
                </div>
                <div class="main__color main__color_selected">
                    <img src="~/icons/color-beige.svg" alt="">
                </div>
            </div>
            <div class="main__color-info">
                Цвет: Кофе с молоком меланж
            </div>
            <div class="main__size-selection">
                <div class="size-selection__title"> Выберите размер <span class="icon-arrow-down-small"></span></div>
                <div class="size-selection__dropdown">
                    <div class="size-selection__option">
                        XXS
                    </div>
                    <div class="size-selection__option">
                        XS
                    </div>
                    <div class="size-selection__option">
                        S
                    </div>
                    <div class="size-selection__option">
                        M
                    </div>
                    <div class="size-selection__option">
                        L
                    </div>
                </div>
            </div>
            <div class="main__buttons">
                <div class="main__add-to-cart">
                    В КОРЗИНУ
                </div>
                <div class="main__add-to-favourite">
                    <img src="~/icons/favourites-new.svg" alt="">
                    В ИЗБРАННОЕ
                </div>
            </div>
            <div class="main__details">
                <div class="main__detail">
                    Подробности
                </div>
                <div class="main__size-and-description">
                    <div class="size-and-description__title">
                        Обмеры и описание <span class="icon-arrow-down-small"></span>
                    </div>
                    <div class="size-and-description__dropdown">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                </div>
                <div class="main__ingredients">
                    <div class="main__ingredients-name"> Состав и уход <span class="icon-arrow-down-small rotated"></span> </div>
                    <div class="main__ingredient-detail subtext opened">
                        Состав: 50% Шерсть, 50% Полиэстер <br>
                        Подкладка: 100% Полиэстер <br>
                        Утеплитель: 90% Пух, 10% Перо <br>
                        <br>
                        - Не стирать <br>
                        - Гладить при температуре утюга до 110°C <br>
                        - Не отбеливать <br>
                        - Сухая чистка (химчистка) <br>
                        - Барабанная сушка запрещена
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="complete-style">
        <div class="complete-style__title">
            Весь образ
        </div>
        <div class="complete-style__gallery">
            <div class="complete-style__item">
                <div class="complete-style__fav-button">
                    <span class="icon-favourites"></span>
                </div>
                <img src="~/images/img-i-7.png" alt="">
                <div class="complete-style__name complete-style__name_new">
                    Белая куртка
                </div>
                <div class="complete-style__price">
                    2900 грн
                </div>
                <div class="complete-style__sizes">
                    <div class="complete-style__size">
                        XXS
                    </div>
                    <div class="complete-style__size">
                        XS
                    </div>
                    <div class="complete-style__size">
                        S
                    </div>
                    <div class="complete-style__size">
                        M
                    </div>
                    <div class="complete-style__size">
                        L
                    </div>
                </div>
                <div class="complete-style__colors colors">
                    <div class="complete-style__color">
                        <img src="~/icons/color-white.svg" alt="">
                    </div>
                    <div class="complete-style__color">
                        <img src="~/icons/color-navy.svg" alt="">
                    </div>
                    <div class="complete-style__color">
                        <img src="~/icons/color-beige.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="complete-style__item">
                <div class="complete-style__fav-button">
                    <span class="icon-favourites"></span>
                </div>
                <img src="~/images/img-i-8.png" alt="">
                <div class="complete-style__name">
                    Синее пальто
                </div>
                <div class="complete-style__price">
                    3150 грн
                </div>
                <div class="complete-style__sizes">
                    <div class="complete-style__size">
                        XS
                    </div>
                    <div class="complete-style__size">
                        M
                    </div>
                    <div class="complete-style__size">
                        L
                    </div>
                </div>
                <div class="complete-style__colors">
                    <div class="complete-style__color">
                        <img src="~/icons/color-white.svg" alt="">
                    </div>
                    <div class="complete-style__color">
                        <img src="~/icons/color-navy.svg" alt="">
                    </div>
                    <div class="complete-style__color">
                        <img src="~/icons/color-beige.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="add-to-your-image">
        <div class="add-to-your-image__title">
            Дополните образ
        </div>
        <div class="add-to-your-image__gallery">
            <div class="add-to-your-image__item">
                <div class="add-to-your-image__fav-button">
                    <span class="icon-favourites"></span>
                </div>
                <img src="~/images/img-i-9.png" alt="">
                <div class="add-to-your-image__name">
                    Бежевая шуба
                </div>
                <div class="add-to-your-image__price">
                    4200 грн
                </div>
                <div class="add-to-your-image__sizes">
                    <div class="add-to-your-image__size">
                        XS
                    </div>
                    <div class="add-to-your-image__size">
                        S
                    </div>
                    <div class="add-to-your-image__size">
                        L
                    </div>
                </div>
                <div class="add-to-your-image__colors colors">
                    <div class="add-to-your-image__color">
                        <img src="~/icons/color-white.svg" alt="">
                    </div>
                    <div class="add-to-your-image__color">
                        <img src="~/icons/color-navy.svg" alt="">
                    </div>
                    <div class="add-to-your-image__color">
                        <img src="~/icons/color-beige.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="add-to-your-image__item">
                <div class="add-to-your-image__fav-button">
                    <span class="icon-favourites"></span>
                </div>
                <img src="~/images/img-i-10.png" alt="">
                <div class="add-to-your-image__name add-to-your-image__name_new">
                    Синяя парка
                </div>
                <div class="add-to-your-image__price">
                    2900 грн
                </div>
                <div class="add-to-your-image__sizes">
                    <div class="add-to-your-image__size">
                        XXS
                    </div>
                    <div class="add-to-your-image__size">
                        XS
                    </div>
                    <div class="add-to-your-image__size">
                        S
                    </div>
                    <div class="add-to-your-image__size">
                        M
                    </div>
                    <div class="add-to-your-image__size">
                        L
                    </div>
                </div>
                <div class="add-to-your-image__colors colors">
                    <div class="add-to-your-image__color">
                        <img src="~/icons/color-white.svg" alt="">
                    </div>
                    <div class="add-to-your-image__color">
                        <img src="~/icons/color-navy.svg" alt="">
                    </div>
                    <div class="add-to-your-image__color">
                        <img src="~/icons/color-beige.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="add-to-your-image__item">
                <div class="add-to-your-image__fav-button">
                    <span class="icon-favourites"></span>
                </div>
                <img src="~/images/img-i-11.png" alt="">
                <div class="add-to-your-image__name add-to-your-image__name_new">
                    Белая куртка
                </div>
                <div class="add-to-your-image__price">
                    2900 грн
                </div>
                <div class="add-to-your-image__sizes">
                    <div class="add-to-your-image__size">
                        XXS
                    </div>
                    <div class="add-to-your-image__size">
                        XS
                    </div>
                    <div class="add-to-your-image__size">
                        S
                    </div>
                    <div class="add-to-your-image__size">
                        M
                    </div>
                    <div class="add-to-your-image__size">
                        L
                    </div>
                </div>
                <div class="add-to-your-image__colors colors">
                    <div class="add-to-your-image__color">
                        <img src="~/icons/color-white.svg" alt="">
                    </div>
                    <div class="add-to-your-image__color">
                        <img src="~/icons/color-navy.svg" alt="">
                    </div>
                    <div class="add-to-your-image__color">
                        <img src="~/icons/color-beige.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="add-to-your-image__item">
                <div class="add-to-your-image__fav-button">
                    <span class="icon-favourites"></span>
                </div>
                <img src="~/images/img-i-12.png" alt="">
                <div class="add-to-your-image__name">
                    Синее пальто
                </div>
                <div class="add-to-your-image__price">
                    3150 грн
                </div>
                <div class="add-to-your-image__sizes">
                    <div class="add-to-your-image__size">
                        XS
                    </div>
                    <div class="add-to-your-image__size">
                        M
                    </div>
                    <div class="add-to-your-image__size">
                        L
                    </div>
                </div>
                <div class="add-to-your-image__colors colors">
                    <div class="add-to-your-image__color">
                        <img src="~/icons/color-white.svg" alt="">
                    </div>
                    <div class="add-to-your-image__color">
                        <img src="~/icons/color-navy.svg" alt="">
                    </div>
                    <div class="add-to-your-image__color">
                        <img src="~/icons/color-beige.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="you-may-like">
        <div class="you-may-like__title">
            Вам может понравиться
        </div>
        <div class="you-may-like__gallery">
            <div class="you-may-like__item">
                <div class="you-may-like__fav-button">
                    <span class="icon-favourites"></span>
                </div>
                <img src="~/images/img-i-10.png" alt="">
                <div class="you-may-like__name you-may-like__name_new">
                    Синяя парка
                </div>
                <div class="you-may-like__price">
                    2900 грн
                </div>
                <div class="you-may-like__sizes">
                    <div class="you-may-like__size">
                        XXS
                    </div>
                    <div class="you-may-like__size">
                        XS
                    </div>
                    <div class="you-may-like__size">
                        S
                    </div>
                    <div class="you-may-like__size">
                        M
                    </div>
                    <div class="you-may-like__size">
                        L
                    </div>
                </div>
                <div class="you-may-like__colors colors">
                    <div class="you-may-like__color">
                        <img src="~/icons/color-white.svg" alt="">
                    </div>
                    <div class="you-may-like__color">
                        <img src="~/icons/color-navy.svg" alt="">
                    </div>
                    <div class="you-may-like__color">
                        <img src="~/icons/color-beige.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="you-may-like__item">
                <div class="you-may-like__fav-button">
                    <span class="icon-favourites"></span>
                </div>
                <img src="~/images/img-i-12.png" alt="">
                <div class="you-may-like__name">
                    Синее пальто
                </div>
                <div class="you-may-like__price">
                    3150 грн
                </div>
                <div class="you-may-like__sizes">
                    <div class="you-may-like__size">
                        XS
                    </div>
                    <div class="you-may-like__size">
                        M
                    </div>
                    <div class="you-may-like__size">
                        L
                    </div>
                </div>
                <div class="you-may-like__colors colors">
                    <div class="you-may-like__color">
                        <img src="~/icons/color-white.svg" alt="">
                    </div>
                    <div class="you-may-like__color">
                        <img src="~/icons/color-navy.svg" alt="">
                    </div>
                    <div class="you-may-like__color">
                        <img src="~/icons/color-beige.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="you-may-like__item">
                <div class="you-may-like__fav-button">
                    <span class="icon-favourites"></span>
                </div>
                <img src="~/images/img-i-9.png" alt="">
                <div class="you-may-like__name">
                    Бежевая шуба
                </div>
                <div class="you-may-like__price">
                    4200 грн
                </div>
                <div class="you-may-like__sizes">
                    <div class="you-may-like__size">
                        XS
                    </div>
                    <div class="you-may-like__size">
                        S
                    </div>
                    <div class="you-may-like__size">
                        L
                    </div>
                </div>
                <div class="you-may-like__colors colors">
                    <div class="you-may-like__color">
                        <img src="~/icons/color-white.svg" alt="">
                    </div>
                    <div class="you-may-like__color">
                        <img src="~/icons/color-navy.svg" alt="">
                    </div>
                    <div class="you-may-like__color">
                        <img src="~/icons/color-beige.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="you-may-like__item">
                <div class="you-may-like__fav-button">
                    <span class="icon-favourites"></span>
                </div>
                <img src="~/images/img-i-11.png" alt="">
                <div class="you-may-like__name you-may-like__name_new">
                    Белая куртка
                </div>
                <div class="you-may-like__price">
                    2900 грн
                </div>
                <div class="you-may-like__sizes">
                    <div class="you-may-like__size">
                        XXS
                    </div>
                    <div class="you-may-like__size">
                        XS
                    </div>
                    <div class="you-may-like__size">
                        S
                    </div>
                    <div class="you-may-like__size">
                        M
                    </div>
                    <div class="you-may-like__size">
                        L
                    </div>
                </div>
                <div class="you-may-like__colors colors">
                    <div class="you-may-like__color">
                        <img src="~/icons/color-white.svg" alt="">
                    </div>
                    <div class="you-may-like__color">
                        <img src="~/icons/color-navy.svg" alt="">
                    </div>
                    <div class="you-may-like__color">
                        <img src="~/icons/color-beige.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="you-recently-viewed">
        <div class="you-recently-viewed__title">
            Вы недавно смотрели
        </div>
        <div class="you-recently-viewed__gallery">
            <div class="you-recently-viewed__item">
                <div class="you-recently-viewed__fav-button">
                    <span class="icon-favourites"></span>
                </div>
                <img src="~/images/img-i-13.png" alt="">
                <div class="you-recently-viewed__name">
                    Бежевая шуба
                </div>
                <div class="you-recently-viewed__price">
                    4200 грн
                </div>
                <div class="you-recently-viewed__sizes">
                    <div class="you-recently-viewed__size">
                        XS
                    </div>
                    <div class="you-recently-viewed__size">
                        S
                    </div>
                    <div class="you-recently-viewed__size">
                        L
                    </div>
                </div>
                <div class="you-recently-viewed__colors colors">
                    <div class="you-recently-viewed__color">
                        <img src="~/icons/color-white.svg" alt="">
                    </div>
                    <div class="you-recently-viewed__color">
                        <img src="~/icons/color-navy.svg" alt="">
                    </div>
                    <div class="you-recently-viewed__color">
                        <img src="~/icons/color-beige.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="you-recently-viewed__item">
                <div class="you-recently-viewed__fav-button">
                    <span class="icon-favourites"></span>
                </div>
                <img src="~/images/img-i-14.png" alt="">
                <div class="you-recently-viewed__name you-recently-viewed__name_new">
                    Синяя парка
                </div>
                <div class="you-recently-viewed__price">
                    2900 грн
                </div>
                <div class="you-recently-viewed__sizes">
                    <div class="you-recently-viewed__size">
                        XXS
                    </div>
                    <div class="you-recently-viewed__size">
                        XS
                    </div>
                    <div class="you-recently-viewed__size">
                        S
                    </div>
                    <div class="you-recently-viewed__size">
                        M
                    </div>
                    <div class="you-recently-viewed__size">
                        L
                    </div>
                </div>
                <div class="you-recently-viewed__colors colors">
                    <div class="you-recently-viewed__color">
                        <img src="~/icons/color-white.svg" alt="">
                    </div>
                    <div class="you-recently-viewed__color">
                        <img src="~/icons/color-navy.svg" alt="">
                    </div>
                    <div class="you-recently-viewed__color">
                        <img src="~/icons/color-beige.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="~/css/item.css"/>
    <script src="~/js/item.js" defer></script>
}
