
@{
    ViewData["Title"] = "Login";
    Layout = null;
}
@using WebApplication1.Models.Shop;
@model User;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="~/css/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>
<body>
    <div>
            <div class="title">Профиль</div>
            <div class="fields">
            </div>
            <br />
        <a asp-controller="Home" asp-action="LogOut"><button type="submit">Выйти</button></a>
    </div>
    <div>
        <a asp-controller="Home" asp-action="Index">Назад на главную</a>
    </div>
</body>
</html>