$adapt-res: 700px;

.header {
  display: grid;
  width: 100%;
  grid-template-columns: 0.3fr 0.7fr 1fr 0.4fr 0.6fr;
  margin: calc(100vw * 25 / 1440) 0 0 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-items: left;
  color: #252525;
  font-size: max(12px, calc(100vw * (18 / 1440)));
  line-height: max(12px, calc(100vw * (21 / 1440)));

  @media (max-width: $adapt-res) {
    margin: calc(100vw * (25 / 375)) 0 0 0;
    grid-template-columns: 0.3fr 0.7fr 1fr 1fr;
  }

  &__burger {
    margin: 0;
    width: calc(100vw * 0.017);
    @media (max-width: $adapt-res) {
      width: calc(100vw * (34 / 375));
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-self: center;
    //font-size: 18px;

    font-size: max(9px, calc(100vw * 0.0125));
    @media (max-width: $adapt-res) {
      display: none;
    }
  }
  &__item {
    margin: 0 calc(100vw * 0.017361) 0 0;
    & a {
      text-decoration: none;
      color: #252525;
    }
    &_active a{
      color: #E0BEA2;
    }
  }

  &__logo {
    img {
      height: calc(100vw * 0.027777);
    }
    justify-self: center;
    @media (max-width: $adapt-res) {
      order: 1;
      img {
        width: calc(100vw * (79 / 375));
        height: calc(100vw * (20 / 375));
      }
    }
  }

  &__locale {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    span {
      font-size: (100vw * 6 / 1440);
    }
    @media (max-width: $adapt-res) {
      order: 0;
    }
  }
  &__lang {
    font-size: calc(100vw * 0.0125);
    @media (max-width: $adapt-res) {
      font-size: calc(100vw * (16 / 375));
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 0 0 0 calc(100vw * (25 / 375));
      span {
        margin: 0 0 0 calc(100vw * (3 / 375));
        font-size: calc(100vw * (6 / 375));
      }
    }
  }

  &__currency {
    font-size: calc(100vw * 0.0125);
    @media (max-width: $adapt-res) {
      display: none;
    }
  }

  &__icons {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(4, 1fr);
    justify-self: end;
    @media (max-width: $adapt-res) {
      img:first-child {
        display: none;
      }
      img:nth-child(2) {
        display: none;
      }
      order: 1;
    }
    //width: 100%;
    img {
      margin: 0 0 0 calc(100vw * (30 / 1440));
      width: calc(100vw * (25 / 1440));
      @media (max-width: $adapt-res) {
        width: calc(100vw * (20 / 375));
        margin: 0 0 0 calc(100vw * (20 / 375));
        padding: 0;
      }
    }
  }
}