$adapt-res: 700px;

.header {
  display: grid;
  grid-template-columns: 0.3fr 0.7fr 1fr 0.4fr 0.6fr;
  position: absolute;
  margin: calc(100vw * 0.020833) calc(100vw * 0.20833 / 2) 0 calc(100vw * 0.20833 / 2);
  left: 0;
  right: 0;
  align-items: center;
  justify-items: left;
  color: #F5F5F5;
  font-size: max(12px, calc(100vw * (18 / 1440)));
  line-height: max(12px, calc(100vw * (21 / 1440)));

  @media (max-width: $adapt-res) {
    margin: calc(100vw * (25 / 375));
    grid-template-columns: 0.3fr 0.7fr 1fr 1fr;
  }

  &__burger {
    margin: 0;
    width: calc(100vw * 0.017);
    @media (max-width: $adapt-res) {
      width: calc(100vw * (34 / 375));
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-self: center;
    //font-size: 18px;
    font-size: max(9px, calc(100vw * 0.0125));
    @media (max-width: $adapt-res) {
      display: none;
    }
  }

  &__item {
    margin: 0 calc(100vw * 0.017361) 0 0;
    & a {
      text-decoration: none;
      color: #ffffff;
    }
  }

  &__logo {
    img {
      height: calc(100vw * 0.027777);
    }
    justify-self: center;
    @media (max-width: $adapt-res) {
      order: 1;
      img {
        width: calc(100vw * (79 / 375));
        height: calc(100vw * (20 / 375));
      }
    }
  }

  &__locale {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    span {
      font-size: (100vw * 0.006944);
    }
    @media (max-width: $adapt-res) {
      order: 0;
    }
  }
  &__lang {
    font-size: calc(100vw * 0.0125);
    @media (max-width: $adapt-res) {
      font-size: calc(100vw * (16 / 375));
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 0 0 0 calc(100vw * (25 / 375));
      span {
        margin: 0 0 0 calc(100vw * (3 / 375));
        font-size: calc(100vw * (6 / 375));
      }
    }
  }

  &__currency {
    font-size: calc(100vw * 0.0125);
    @media (max-width: $adapt-res) {
      display: none;
    }
  }

  &__icons {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(4, 1fr);

    @media (max-width: $adapt-res) {
      justify-self: end;
      img:first-child {
        display: none;
      }
      img:nth-child(2) {
        display: none;
      }
      order: 1;
    }
    //width: 100%;
    img {
      padding: 0 calc(100vw * 0.010416) 0 0;
      width: calc(100vw * 0.024305);
      @media (max-width: $adapt-res) {
        width: calc(100vw * (20 / 375));
        margin: 0 0 0 calc(100vw * (20 / 375));
        padding: 0;
      }
    }
  }
}