@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?72vcv2');
  src:  url('fonts/icomoon.eot?72vcv2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?72vcv2') format('truetype'),
    url('fonts/icomoon.woff?72vcv2') format('woff'),
    url('fonts/icomoon.svg?72vcv2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-black:before {
  content: "\e900";
  color: #252525;
}
.icon-arrow-down:before {
  content: "\e900";
  color: #fff;
}
.icon-arrow-right:before {
  content: "\e901";
  color: #fff;
}
.icon-cart:before {
  content: "\e902";
  color: #fff;
}
.icon-favourites:before {
  content: "\e903";
  color: #fff;
}
.icon-ig:before {
  content: "\e904";
  color: #e0bea2;
}
.icon-logo:before {
  content: "\e905";
  color: #fff;
}
.icon-profile:before {
  content: "\e906";
  color: #fff;
}
.icon-search:before {
  content: "\e907";
  color: #fff;
}
.icon-tg:before {
  content: "\e908";
  color: #e0bea2;
}
