@import "null.css";
@import "icons.css";
@import "theme.css";
@import "burger.css";
@import "header.css";
@import "breadcrumbs.css";
@import "wrapper.css";
@import "footer.css";

$adapt-res: 700px;

%title {
  font-weight: 300;
  font-size: calc(100vw * 20 / 1440);
  line-height: calc(100vw * 23 / 1440);
  color: #252525;
  @media (max-width: $adapt-res) {
    font-size: calc(100vw * 18 / 375);
    line-height: calc(100vw * 21 / 375);
  }
}
%subtitle {
  font-weight: 300;
  font-size: calc(100vw * 16 / 1440);
  line-height: calc(100vw * 19 / 1440);
  color: #252525;

  @media (max-width: $adapt-res) {
    font-size: calc(100vw * 14 / 375);
    line-height: calc(100vw * 16 / 375);
  }
}
%price {
  font-weight: 700;
  font-size: calc(100vw * 16 / 1440);
  line-height: calc(100vw * 19 / 1440);
  color: #252525;

  @media (max-width: $adapt-res) {
    font-size: calc(100vw * 14 / 375);
    line-height: calc(100vw * 16 / 375);
  }
}

.order {
  margin: calc(100vw * 30 / 1440) 0 0 0;

  @media (max-width: $adapt-res) {
    margin: calc(100vw * 15 / 375) 0 0 0;
  }

  &__title {
    @extend %title;
  }

  &__list {
    margin: calc(100vw * 30 / 1440) 0 0 0;
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: calc(100vw * 10 / 1440);
  }

  &__item {
    display: inline-grid;
    grid-template-columns: calc(100vw * 95 / 1440) 0.65fr 1fr 1fr 1fr 0.5fr 0.5fr;
    border-bottom: 0.3px solid #252525;
    padding: 0 0 calc(100vw * 10 / 1440) 0;
    justify-items: center;
    align-items: center;

    @media (max-width: $adapt-res) {
      display: block;
      grid-template-columns: calc(100vw * 95 / 1440) 0.5fr 0.5fr 0.0fr;
      grid-template-rows: 1fr 1fr;
      height: calc(100vw * 115 / 375);
    }
    img:first-child {
      width: calc(100vw * 95 / 1440);
      @media (max-width: $adapt-res) {
        width: calc(100vw * 95 / 375);
      }
    }
  }

  &__desc {
    margin: 0 0 0 calc(100vw * 10 / 1440);
    justify-self: start;
    align-self: start;

    @media (max-width: $adapt-res) {
      order: 1;
      position: relative;
      left: calc(100vw * 105 / 375);
      bottom: calc(100vw * 100 / 375);
    }

  }

  &__item-number {
    font-size: calc(100vw * 14 / 1440);
    line-height: calc(100vw * 16 / 1440);
    color: #E0BEA2;

    @media (max-width: $adapt-res) {
      font-size: calc(100vw * 12 / 375);
      line-height: calc(100vw * 14 / 375);
    }
  }

  &__item-name {
    @extend %subtitle;
    margin: calc(100vw * 29 / 1440) 0 0 0;
  }

  &__color {
    width: calc(100vw * 30 / 1440);
    padding: 3px;
    border: 0.3px solid rgba(37, 37, 37, 0.5);
    border-radius: 50%;

    @media (max-width: $adapt-res) {
      //order: 3;
      position: relative;
      width: calc(100vw * 30 / 375);
      left: calc(100vw * 105 / 375);
      bottom: calc(100vw * 75 / 375);
    }

  }

  &__sizes {
    display: flex;
    width: calc(100vw * 100 / 1440);
    height: calc(100vw * 50 / 1440);
    border: 0.3px solid #252525;
    align-items: center;
    justify-content: center;
    img {
      margin: 0 0 0 calc(100vw * 10 / 1440);
      width: calc(100vw * 10 / 1440);
      &.rotated {
        transform: rotate(180deg);
      }
    }

    @media (max-width: $adapt-res) {
      //order: 4;
      position: relative;
      left: calc(100vw * 155 / 375);
      bottom: calc(100vw * 50 / 175);
      width: calc(100vw * 50 / 375);
      height: calc(100vw * 40 / 375);
      img {
        margin: 0 0 0 calc(100vw * 10 / 375);
        width: calc(100vw * 10 / 375);
      }
    }

  }

  &__size {
    @extend %subtitle;
  }
  &__dropdown {
    border-top: none;
    border-bottom: 0.3px solid #252525;
    border-left: 0.3px solid #252525;
    border-right: 0.3px solid #252525;
    width: calc(100vw * 100 / 1440);
    //display: grid;
    display: none;
    grid-auto-flow: row;
    position: absolute;
    background: #F5F5F5;
    margin-top: calc(100vw * 150 / 1440);
    text-align: center;
    &.opened {
      display: grid;
    }
  }
  &__count {
    @extend %subtitle;
    display: flex;
    width: calc(100vw * 100 / 1440);
    height: calc(100vw * 50 / 1440);
    border: 0.3px solid #252525;
    align-items: center;
    justify-content: center;

    @media (max-width: $adapt-res) {
      //order: 5;
      position: relative;
      left: calc(100vw * 225 / 375);
      bottom: calc(100vw * 68.75 / 175);
      width: calc(100vw * 67 / 375);
      height: calc(100vw * 40 / 375);

    }
  }

  &__button-minus {
    color: #e0bea2;
    font-size: calc(100vw * 30 / 1440);
    margin: 0 calc(100vw * 14 / 1440);
    @media (max-width: $adapt-res) {
      font-size: calc(100vw * 20 / 375);
      margin: 0 calc(100vw * 5 / 375);
    }
  }

  &__number {
    font-feature-settings: 'pnum' on, 'lnum' on;
  }

  &__plus {
    color: #e0bea2;
    font-size: calc(100vw * 30 / 1440);
    margin: 0 calc(100vw * 14 / 1440);
    @media (max-width: $adapt-res) {
      font-size: calc(100vw * 20 / 375);
      margin: 0 calc(100vw * 5 / 375);
    }
  }

  &__price {
    @extend %price;

    @media (max-width: $adapt-res) {
      order: 2;
      position: relative;
      left: calc(100vw * 275 / 375);
      bottom: calc(100vw * 225 / 375);
    }
  }

  &__remove {
      width: calc(100vw * 25 / 1440);


    @media (max-width: $adapt-res) {
      order: 5;
      position: relative;
      width: calc(100vw * 25 / 375);
      left: calc(100vw * 310 / 375);
      bottom: calc(100vw * 195 / 375);
    }

  }

  &__sum {
    margin: calc(100vw * 30 / 1440) 0 0 0;
    display: flex;
    align-items: center;
    justify-content: end;

    @media (max-width: $adapt-res) {
      margin: calc(100vw * 15/ 375) 0 0 0;
    }
  }

  &__text {
    @extend %subtitle;
  }

  &__sum-number {
    margin: 0 0 0 calc(100vw * 10 / 1440);
    @extend %price;
    @media (max-width: $adapt-res) {
      margin: 0 0 0 calc(100vw * 5 / 375);
    }
  }
}
.sizes__item {
  justify-self: center;
  width: 80%;
  border-top: #e0bea2 0.3px solid;
}
.order-title {
  margin: calc(100vw * 70 / 1440) 0 0 0;
  @extend %title;
  @media (max-width: $adapt-res) {
    margin: calc(100vw * 50 / 1440) 0 0 0;
  }
}

.order-info {
  margin: calc(100vw * 30 / 1440) 0 0 0;
  display: grid;
  grid-template-columns: calc(100vw * 820 / 1440) calc(100vw * 300 / 1440);
  grid-column-gap: calc(100vw * 20 / 1440);

  @media (max-width: $adapt-res) {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }
}

.radio-item {
  display: inline-block;
  position: relative;
  padding: 0 calc(100vw * 6 / 1440);
  margin: calc(100vw * 10 / 1440) 0 0 0;

  @media (max-width: $adapt-res) {
    padding: 0 calc(100vw * 6 / 375);
    margin: calc(100vw * 10 / 375) 0 0 0;
  }
}
.radio-item input[type='radio'] {
  display: none;
}
.radio-item label:before {
  content: " ";
  display: inline-block;
  position: relative;
  //top: calc(100vw * 5 / 1440);
  margin: 0 calc(100vw * 5 / 1440) 0 0;
  width: calc(100vw * 20 / 1440);
  height: calc(100vw * 20 / 1440);
  border-radius: calc(100vw * 11 / 1440);
  border: 0.3px solid rgba(37, 37, 37, 0.5);
  background-color: transparent;

  @media (max-width: $adapt-res) {
    margin: 0 calc(100vw * 5 / 375) 0 0;
    width: calc(100vw * 20 / 375);
    height: calc(100vw * 20 / 375);
    border-radius: calc(100vw * 11 / 375);
    border: 0.3px solid rgba(37, 37, 37, 0.5);
  }

}
.radio-item input[type=radio]:checked + label:after {
  border-radius: calc(100vw * 11 / 1440);
  width: calc(100vw * 12 / 1440);
  height: calc(100vw * 12 / 1440);
  position: absolute;
  top: calc(100vw * 4 / 1440);
  left: calc(100vw * 10 / 1440);
  content: " ";
  display: block;
  background: #E0BEA2;
  @media (max-width: $adapt-res) {
    border-radius: calc(100vw * 11 / 375);
    width: calc(100vw * 12 / 375);
    height: calc(100vw * 12 / 375);
    top: calc(100vw * 4 / 375);
    left: calc(100vw * 10 / 375);
  }
}
.order-completion__radio > .radio-item:first-child #self:checked + label:after {
  top: calc(100vw * 13 / 1440);
  @media (max-width: $adapt-res) {
    top: calc(100vw * 10 / 375);
  }
}
.order-completion {
  margin: 0;
  &__personal-data {
    display: grid;
  }
  &__fields {
    margin: calc(100vw * 20 / 1440) 0 0 0;
    display: grid;
    grid-template-columns: repeat(2, calc(100vw * 400 / 1440));
    grid-gap: calc(100vw * 20 / 1440) calc(100vw * 20 / 1440);

    @media (max-width: $adapt-res) {
      margin: calc(100vw * 15 / 375) 0 0 0;
      grid-template-columns: 1fr;
      grid-row-gap: calc(100vw * 15 / 375);
    }

    input {
      width: calc(100vw * 400 / 1440);
      height: calc(100vw * 50 / 1440);
      padding: 0 0 0 calc(100vw * 20 / 1440);
      color: rgba(37, 37, 37, 0.5);
      @extend %subtitle;
      background: none;
      border: 0.5px solid rgba(37, 37, 37, 0.5);

      @media (max-width: $adapt-res) {
        padding: 0;
        text-align: center;
        width: 100%;
        height: calc(100vw * 40 / 375);
      }

    }

  }

  &__radio {
    margin: calc(100vw * 10 / 1440) 0 0 0;
    @extend %subtitle;
  }

  &__title {
    @extend %subtitle;
    @media (max-width: $adapt-res) {
      margin: calc(100vw * 15 / 375) 0 0 0;
    }
  }

  &__shipping {
    margin: calc(100vw * 20 / 1440) 0 0 0;
  }

  &__delivery {
    margin: calc(100vw * 20 / 1440) 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: calc(100vw * 20 / 1440);

    @media (max-width: $adapt-res) {
      grid-template-columns: 1fr;
      grid-auto-flow: row;
      grid-row-gap: calc(100vw * 15/ 375);
    }
  }

  &__Ukraine {
    display: grid;
    grid-auto-flow: row;
  }

  &__foreign {
    display: grid;
    grid-auto-flow: row;
  }

  &__address {
    margin: calc(100vw * 20 / 1440) 0 0 0;
  }

  &__payment {
    margin: calc(100vw * 20 / 1440) 0 0 0;
    @media (max-width: $adapt-res) {
      div.order-completion__title>div {
        display: none;
      }
      div.order-completion__title:before {
        Content:'Способ оплаты:';
      }
    }
  }

  &__payment-method {
    display: grid;
    grid-auto-flow: column;
  }
  label {
    display: grid;
    grid-auto-flow: column;
    align-items: center;

    img {
      margin: 0 0 0 calc(100vw * 5 / 1440);
      height: calc(100vw * 19 / 1440);
      @media (max-width: $adapt-res) {
        margin: 0 0 0 calc(100vw * 5 / 375);
        height: calc(100vw * 19 / 375);
      }
    }
  }

  &__bonus {
    margin: calc(100vw * 20 / 1440) 0 0 0;
    >input {
      margin: calc(100vw * 20 / 1440) 0 0 0;
      width: 100%;
      height: calc(100vw * 50 / 1440);
      padding: 0 0 0 calc(100vw * 20 / 1440);
      color: rgba(37, 37, 37, 0.5);
      @extend %subtitle;
      background: none;
      border: 0.5px solid rgba(37, 37, 37, 0.5);

      @media (max-width: $adapt-res) {
        margin: calc(100vw * 15 / 375) 0 0 0;
        height: calc(100vw * 40 / 375);
        padding: 0 0 0 calc(100vw * 20 / 1440);
        color: rgba(37, 37, 37, 0.5);
        @extend %subtitle;
        background: none;
        border: 0.5px solid rgba(37, 37, 37, 0.5);
        text-align: center;
        width: 100%;

      }
    }
  }
}

.order-finalization {

  @media (max-width: $adapt-res) {
    margin: calc(100vw * 20 / 375) 0 0 0;
  }

  &__links {
    @extend %subtitle;
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: calc(100vw * 20 / 1440);

    @media (max-width: $adapt-res) {
      grid-row-gap: calc(100vw * 15 / 375);
    }
  }

  &__link {
    text-decoration: underline;
    &_active {
      color: #e0bea2;
    }
  }

  &__summary {
    margin: calc(100vw * 30 / 1440) 0 0 0;
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: calc(100vw * 15 / 1440);

    @media (max-width: $adapt-res) {
      margin: calc(100vw * 20 / 375) 0 0 0;
      grid-row-gap: calc(100vw * 15 / 375);
    }
  }

  &__delivery {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
  }

  &__title {
    @extend %subtitle;
    justify-self: start;
  }

  &__value {
    @extend %price;
    justify-self: end;
  }

  &__bonus {
    display: grid;
    grid-template-columns: 0.1fr 1fr;
  }

  &__sum {
    display: grid;
    grid-template-columns: 0.1fr 1fr;
  }

  &__button {
    margin: calc(100vw * 15 / 1440) 0 0 0;
    @extend %subtitle;
    width: 100%;
    height: calc(100vw * 50 / 1440);
    line-height: calc(100vw * 50 / 1440);
    text-align: center;
    color: #F5F5F5;
    background: #e0bea2;

    @media (max-width: $adapt-res) {
      width: 100%;
      margin: calc(100vw * 15 / 375) 0 0 0;
      line-height: calc(100vw * 40 / 375);
      height: calc(100vw * 40 / 375);
    }
  }

  &__policy {
    margin: calc(100vw * 15 / 1440) 0 0 0;
    font-size: calc(100vw * 14 / 1440);
    line-height: calc(100vw * 17 / 1440);
    a {
      color: #252525;
    }

    @media (max-width: $adapt-res) {
      width: 100%;
      text-align: center;
      margin: calc(100vw * 15 / 375) 0 0 0;
      font-size: calc(100vw * 12 / 375);
      line-height: calc(100vw * 14 / 375);
    }
  }
}
