body {
  align-content: center;
  justify-content: center;
  background: #F5F5F5;
  color: #252525;
  font-family: Raleway, serif;
  font-weight: 200;
  font-style: normal;
  font-size: calc(100vw * (18 / 1440));
  overflow-x: hidden;
}